@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format('woff2');
  font-display: swap;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 24px auto;
  justify-content: space-evenly;
  flex-items: start;
  align-content: center;
  margin: 12px 0px;
  height: 14vh;
}

.btn{
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  background-color: rgb(204, 0, 0);
  border-color: rgb(204, 0, 0);
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding-left: 8px;
  width: 100px;

}